<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>FlowerBay | Request Information</title>
</head>
<body style="padding: 15px;">

    <h1>Request Information: </h1>
    <!-- https://flowerbay2-developer-edition.na163.force.com/services/apexrest/Interactions/ -->
    {% with messages = get_flashed_messages(category_filter=['message']) %}     
        {% if messages %}                            
            {% for message in messages %}            
                <p style="color: red;">{{message}}</p>                   
            {% endfor %}
        {% endif %}
    {% endwith %}
    <p style="font-size: x-small;">* = Required Field</p>
    <form action="/Interactions/" method="post" style="width: 40%;">

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="firstName">*First Name: </label>
                <input type="text" name="firstName" class="form-control">
            </div>
            
            <div class="form-group col-md-6">
                <label for="lastName">*Last Name: </label>
            <input type="text" name="lastName" class="form-control">
            </div>

        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="phoneNumber">*Phone Number: </label>
                <input type="text" name="phoneNumber" class="form-control">
            </div>

            <div class="form-group col-md-6">
                <label for="email">*Email: </label>
                <input type="text" name="email" class="form-control">
            </div>

        </div>

        <div class="form-group">
            <label for="address">*Street Address: </label> <br>
            <input type="text" name="address" class="form-control">
        </div>

        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="city">*City: </label> <br>
                <input type="text" name="city" class="form-control">
            </div>

            <div class="form-group col-md-2">
                <label for="state">*State: </label> <br>
                <input type="text" name="state" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="zipCode">*Zip Code: </label> <br>
                <input type="text" name="zipCode" class="form-control">
            </div>

        </div>

        <label for="productInterest">*Product of Interest: </label> <br>
        <select name="productInterest" class="form-control">
            <option value=0>Select One...</option>
            <option value='Carnation'>Carnations</option>
            <option value='Daisy'>Daisies</option>
            <option value='Rose'>Roses</option>
            <option value='Succulent'>Succulents</option>
            <option value='Tulip'>Tulips</option>
        </select><br><br>

        <input type="submit" value="Request Information" class="btn btn-primary mb-2">

    </form>

    
</body>
</html>